{% for type, messages in app.flashes %}
    {% for message in messages %}
        {% set class = '' %}
        {% if type is defined %}
            {% if type == 'success' %}
                {% set class = 'success' %}
            {% endif %}

            {% if type == 'error' %}
                {% set class = 'danger' %}
            {% endif %}
        {% endif %}

        <div class="alert alert-{{ class }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}