nav.navbar {
  .navbar-brand {
    img {
      width: 41px;
      margin-top: -0.2em;
    }
  }
}
nav#mainNav {
  background-color: #2A3F54 !important;
}
ul#menuLeft {
  background-color: #2A3F54 !important;
}
div.text-danger {
  ul {
    li {
      list-style: none;
    }
  }
}