@import "~bulma/bulma";
@import "~bulma-extensions/dist/bulma-extensions.min.css";
@import "hero";

.quick-menu-home {
  .quick-menu {
    z-index: 30;
    top: 80px !important;
    left: 15px !important;
  }
  .quick-menu>.menu .core-menu .bar, .quick-menu>.menu .core-menu .bar:after, .quick-menu>.menu .core-menu .bar:before {
    background-color: $dark;
  }
}
#carousel {
  .hero-carousel .carousel-container .carousel-item .title {
    background: rgba($yellow, 0.9);
  }
  .carousel-navigation {
    .carousel-nav-left {
      background-color: $yellow !important;
    }
    .carousel-nav-right {
      background-color: $yellow !important;
    }
  }
}
