<ul class="navbar-nav navbar-sidenav" id="menuLeft">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="{{ path('admin') }}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Notícias">
        <a class="nav-link" href="{{ path('admin_news_index') }}">
            <i class="fa fa-newspaper-o"></i>
            <span class="nav-link-text">Notícias</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Doc API">
        <a class="nav-link" href="{{ path('api_doc') }}" target="_blank">
            <i class="fa fa-book"></i>
            <span class="nav-link-text">Doc API</span>
        </a>
    </li>
</ul>